---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
I am developing practical skills in data structures, data preprocessing, and machine learning, with proficiency in Python, R, and SQL. Through my academic projects, I have gained hands-on experience with data analysis tools and frameworks such as pandas, NumPy, and scikit-learn. I am eager to apply my growing knowledge and contribute to data-driven projects in a professional setting, while continuing to expand my skills in real-world applications.
		</p>
	</div>
</section>
